#filter-menu {
    color: black;
    background-color: var(--primary);
}

#filter-menu div>* {
    cursor: pointer;
}

.filter-button{
    background: var(--ligth-blue);
    color: black !important;
    padding: 1rem 2rem !important;
    border-radius: 12px !important;
}

.filter-active{
    color: white !important;
    background: var(--blue) !important;
}

#number-resume {
    border-left: solid 2px #9F9F9F;
    padding-left: 2rem;
}

#icon-holder>div,
#icon-holder>svg {
    transition: scale 200ms ease-in-out, color 200ms ease-in-out;
}

#icon-holder>div:hover,
#icon-holder>svg:hover {
    scale: 1.1;
    color: var(--secundary);
}

.active-hover {
    scale: 1.1;
    color: var(--secundary);
}